
<form   style="margin: auto; display: flex; flex-direction: column; align-items: center" [formGroup]="form" >

  <div *ngIf="!parentCall">
    <button (click)="editToggle()" >{{ isEdit ? 'switch to creation' : 'switch to edit' }}</button>
  </div>
<!--  name-input-->
  <p>name</p>
  <input type="text" formControlName="name">

  <div *ngIf="form.controls['name'].invalid && (form.controls['name'].touched || form.controls['name'].dirty)">
    <div style="color: red">
      <p>invalid name value</p>
    </div>
  </div>
<!--  username-input-->
  <p>username</p>
  <input type="text" formControlName="username">

  <div *ngIf="form.controls['username'].invalid && (form.controls['username'].touched || form.controls['username'].dirty)">
    <div style="color: red">
      <p>invalid username value</p>
    </div>
  </div>

<!--  company-input-->
  <ng-container formGroupName="company">
  <p>company</p>
  <input type="text" formControlName="name">

  <div *ngIf="form.get('company.name')?.invalid && (form.get('company.name')?.touched || form.get('company.name')?.dirty)">
    <div style="color: red">
      <p>invalid name of company value</p>
    </div>
  </div>
  </ng-container>
<!--  email-input-->

  <p>email</p>
  <input type="text" formControlName="email">

  <div *ngIf="form.controls['email'].invalid && (form.controls['email'].touched || form.controls['email'].dirty)">
    <div style="color: red">
      <p>invalid email value</p>
    </div>
  </div>

  <button type="submit"  style = "margin-top: 30px; margin-bottom: 20px" [disabled]="form.invalid" (click)="closeDialog()"  >{{ isEdit ? 'Edit' : 'Create' }}</button>

</form>
